@{
    ViewBag.Title = "Оргкомитет конференции";
}

<div class="jumbotron">
    <h1>Оргкомитет конференции</h1>
    <p class="lead">Конференция— собрание людей, объединяемых профессией, интересами или общими целями, собирающихся для обмена информацией и совместного обсуждения вопросов, важных для ее участников.</p>
    <button class="btn btn-primary btn-lg">@Html.ActionLink("Узнать больше", "Info", "Home", new { @style = "color: #fff" })</button>
</div>

