
@{
    ViewBag.Title = "Информация";
}

<div class="info">
    <h2>Оргкомитет конфиренции</h2>
    <h4 align="justify" font="Times new roman">
        Конференция— собрание людей, объединяемых профессией, интересами или общими целями, собирающихся для обмена информацией и совместного обсуждения вопросов, важных для ее участников.
        Соответственно, на научно-техническую конференцию, где будут обсуждаться новые открытия, технологические разработки и ноу-хау, связанные с высокими технологиями, соберутся люди,
        связанные с наукой и техникой и работающие в какой-то одной, а может быть, и разных или смежных областях науки или промышленности.
    </h4>
    <h4 align="justify">
        Как правило, все обязанности по подготовке и проведению конференции ложатся на ОРГКОМИТЕТ, возглавляемый по положению и традиции, принятой, например, в научных и
        образовательных организациях в России, руководителем компании; это, как правило, ректор университета или директор научно-исследовательского института.
    </h4>
    <h4 align="justify"> Оргкомитет состоит из двух комиссий — программной и организационной, и в каждой имеется свой председатель. Комиссии нужны для принятия коллегиальных решений и разделения обязанностей и ответственности между членами комиссий.</h4>
    <h4 align="justify">Причины организации конференции иногда могут совпадать, а иногда и не совпадать с целямиее проведения. Вот несколько возможных причин.</h4>
    <ul>
        <li align="justify"> Обмен опытом — «У нас есть что рассказать, хотим узнать, как обстоят дела у других». </li>
        <li align="justify"> Проверка собственных позиций, взглядов, надежности результатов экспериментов.</li>
        <li align="justify"> Приглашение на работу новых перспективных сотрудников из числа присутствующих докладчиков. </li>
        <li align="justify"> Поиск инвесторов для финансирования перспективных разработок. </li>
    </ul>
    <h4 align="justify">Основная тема конференции обязательно отражается в ее названии, а содержание всех докладов, указанных в программе, должно всегда работать на эту тему.</h4>
</div>



