
@{
    ViewBag.Title = "Участникам";
}

<h2>Участникам</h2>
<div>
    @Html.ActionLink("Перечень конференций", "Index", "Конференция")
</div>
<div>
    @Html.ActionLink("Места проведения конференций", "Index", "Место_проведения")
</div>
<div>
    @Html.ActionLink("Список участников", "IndexYch", "Доклады")
</div>